@if (User.Identity.IsAuthenticated)
{
    <nav class="navbar">
        <div class="navbar-links">
            <div class="navbar-left">
                <a asp-controller="BlogPost" asp-action="MyBlogPost">My Posts</a>
                <a asp-controller="BlogPost" asp-action="AllDraft"> My Drafts </a>
                <a asp-controller="BlogPost" asp-action="AddBlogPost"> Add a Blog </a>
                <a asp-controller="BlogPost" asp-action="AllBlogPost"> All Blogs </a>
            </div>
            <div class="navbar-right">
                <a asp-controller="Account" asp-action="AllAccount">View All Accounts</a>
                <a asp-controller="Account" asp-action="MyAccount">MyAccount</a>
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
}