@model IllinoisProject.Models.Account

<form asp-controller="Account" asp-action="AddAccount" method="post">
    <div asp-validation-summary="All"> </div>

    <fieldset>
        <legend><h2>User Registration</h2></legend>
    <label asp-for="Name">Your Name</label>
    <input asp-for="Name" /> <br />
    <br />
    <label asp-for="UserName"></label>
    <input asp-for="UserName" /> <br />
    <br />
    <button type="submit">Add the Account</button> <br />
    </fieldset>
</form>