@model dropbox06.Models.Account

<form asp-controller="Employee" asp-action="AddEmployee" method="post">
    <label asp-for="EmployeeName"></label>
    <input asp-for="EmployeeName" />
    <label asp-for="HourlyWage"></label>
    <input asp-for="HourlyWage" />
    <br />
    <button type="submit">Add the Employee</button>

</form>