@model dropbox06.Models.Account
<h3> Delete the Employee</h3>
<p> Are you sure you want to delete this employee?</p>
<form asp-controller="Employee" asp-action="DeleteEmployee" method="post">
    <label asp-for="EmployeeId"></label>
    <input asp-for="EmployeeId" readonly="readonly" />
    <br />

    <label asp-for="EmployeeName"></label>
    <input asp-for="EmployeeName" readonly="readonly" />
    <br />
    <label asp-for="HourlyWage"></label>
    <input asp-for="HourlyWage" readonly="readonly"/>
    <br />
    <button type="submit">Yes Delete</button>
</form>
<p><a asp-controller="Employee" asp-action="AllEmployee">
    No, back to list</a></p>