@model IEnumerable<IllinoisProject.Models.Picture>

@{
	ViewData["title"] = "Display Pictures";
}
<h3> All Pictures</h3>
@foreach (var p in Model)
{
	<img src="~/images/@p.Url" alt="@p.AltAttribute"
		 width="300" class="img-responsive img-circle" />
	<p class="text-info"></p>
}
