@model IllinoisProject.ViewModels.AccountLoginViewModel

<form asp-action="Login" method="post">
	<fieldset>
		<legend><h2>User Login</h2></legend>
		<div asp-validation-summary="All"> </div>
		<input asp-for="Email" placeholder="Email" />
		<span asp-validation-for="Email"></span>
		<br />
		<br />
		<input asp-for="Password" placeholder="Password" />
		<span asp-validation-for="Password"></span>
		<br />
		<div class="form-group">
			<div class="form-check">
				<!--Not working
					<input class="form-check-input" type="checkbox" asp-for="RememberMe" />
					<label class="form-check-label" asp-for="RememberMe">Remember me?</label>-->
			</div>
		</div>
		<br />
		<button type="submit">Log In</button>
	</fieldset>

</form>
<p><button><a asp-controller="Account" asp-action="Register">Create an account</a></button></p>
