@model IllinoisProject.ViewModels.AccountRegisterViewModel
<link rel="stylesheet" href="~/css/site.css" />

<nav class="navbar">
    <div class="navbar-links">
        <div class="navbar-left">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="BlogPost" asp-action="MyBlogPost">My Posts</a>
                <a asp-controller="BlogPost" asp-action="AddBlogPost"> Add a Blog </a>
                <a asp-controller="BlogPost" asp-action="AllDraft"> Drafts </a>
                <a asp-controller="BlogPost" asp-action="AllBlogPost"> All Blogs </a>
            }
            else
            {
                <a asp-controller="BlogPost" asp-action="AllBlogPost"> All Blogs </a>
            }
        </div>
        <div class="navbar-right">
            <div class="navbar-right">
                <!-- Only shows account stuff if the user is logged in-->
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Account" asp-action="AllAccount">View All Accounts</a>
                    <a asp-controller="Account" asp-action="MyAccount">MyAccount</a>
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                }
                else
                {
                    
                }
            </div>
        </div>
    </div>
</nav>
<h2> User Registeration</h2>

<form asp-controller="Account" asp-action="Register" method="post">
<div asp-validation-summary ="All"> </div>
<br />
	<label asp-for="Name">Your Name</label>
	<input asp-for="Name" /> <br />
<label asp-for="Email">	</label>
<input asp-for ="Email" />
	<span asp-validation-for="Email"></span>
	<br />
	<label asp-for="UserName">	</label>
	<input asp-for="UserName" />
	<span asp-validation-for="Email"></span>
	<br />
<label asp-for="Password">	</label>
<input asp-for="Password" />
<span asp-validation-for="Password"></span>
<br />
	<label asp-for="ConfirmPassword">	</label>
	<input asp-for="ConfirmPassword" />
	<span asp-validation-for="ConfirmPassword"></span>
	<br />
	<button type="submit">Register</button>

	<p>
		<a asp-controller="Account" asp-action="Login">
			No, back to login
		</a>
	</p>

</form>