/* Add these styles to your AllAccount.css file */

/* Restyle the table */
table {
    width: 66.67%; /* Table will take up approximately 2/3 of the screen's width */
    margin-right: auto; /* Aligns the table to the left */
    table-layout: auto; /* This allows the table to auto-size based on content */
    border-collapse: separate; /* This allows us to have rounded corners */
    border-spacing: 10px; /* Adds space around the cells */
    margin-top: 20px;
    border: none; /* Removes the border from the table */
}

th, td {
    width: auto; /* Sets cell width to auto */
    padding: 15px;
    text-align: left;
    border: 1px solid #ccc; /* Adds a light gray border */
    border-radius: 10px; /* Rounds the corners */
}
    th:nth-child(1), td:nth-child(1) {
        width: 20%; /* Adjust width of the "Account Name" column */
    }

    th:nth-child(2), td:nth-child(2) {
        width: 30%; /* Adjust width of the "Blog Posts" column */
    }
thead {
    background-color: #e30613; /* ISU Red background color */
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    padding: 15px;
}

    tbody td:last-child {
        border: none; /* Removes the border from the 'Add Friend' column */
    }

    tbody td a {
        display: inline-block;
        padding: 5px 10px;
        background-color: #e30613; /* ISU Red background color */
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        tbody td a:hover {
            background-color: #ba0c10; /* Darker red on hover */
        }

/* Search input styles */
#searchInput {
    padding: 5px;
    margin-bottom: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar a {
        width: 100%;
        box-sizing: border-box;
    }

    .navbar-links {
        flex-direction: column;
    }
}
