/* draft.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
}

.container {
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #e30613; /* Red text color for headings */
    margin-bottom: 20px; /* Add space below the heading */
}

.blog-posts-container {
    overflow-y: auto; /* Enable vertical scrolling for the container */
    margin: 20px 0;
}

.blog-post-card {
    background-color: #f9f9f9;
    border: 1px solid #e30613; /* Red border color for cards */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Adjust spacing between blog posts */
    max-width: 600px; /* Limit the maximum width of the blog post card */
}

    .blog-post-card h4 {
        margin-top: 0;
        color: #e30613; /* Red text color for headings inside cards */
    }

.post-date {
    font-size: 0.9em;
    color: #666;
}

.blog-description {
    margin: 10px 0;
    color: #333;
}

.blog-post-actions {
    display: flex;
    flex-direction: column; /* Set the direction to column */
    align-items: flex-start; /* Align items to the start */
    margin-top: 10px; /* Add space above the actions */
}

    .blog-post-actions a {
        color: #e30613;
        text-decoration: none;
        margin-bottom: 5px; /* Add margin below each action link */
    }

        .blog-post-actions a:hover {
            text-decoration: underline;
        }
