/* Draft.css Ty created this Draft css file, other one was not working*/

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
}

.container {
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #000;
}

.table-container {
    overflow-y: auto;
    margin: 20px 0;
}

table {
    background-color: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    max-width: 1000px;
    width: 100%;
}

    table th, table td {
        padding: 10px;
        text-align: left;
    }

    table th {
        background-color: #e9ecef;
        color: #000;
    }

    table a {
        color: #000;
        text-decoration: none;
    }

        table a:hover {
            text-decoration: underline;
        }
