/* MyAccount.css */

h3 {
    color: #e30613; /* ISU Red text color */
}

/* Add styles for displaying account information */
.account-info {
    background-color: #fff; /* White background color for account info */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

    .account-info h3 {
        color: #343a40; /* Dark gray text color for section titles */
    }

    .account-info p {
        margin: 10px 0;
    }

    .account-info a {
        color: #007bff; /* Blue link color */
        text-decoration: none;
        margin-right: 10px;
    }

        .account-info a:hover {
            text-decoration: underline;
        }

/* Add styles for displaying blog posts */
.blog-posts {
    margin-top: 20px;
}

    .blog-posts h3 {
        color: #343a40; /* Dark gray text color for section titles */
    }

    .blog-posts ul {
        list-style: none;
        padding: 0;
    }

    .blog-posts li {
        margin-bottom: 5px;
    }

.edit-delete-buttons {
    display: flex;
    gap: 15px; /* Adjust the gap between buttons as needed */
}

.edit-button,
.delete-button {
    background: #e30613; /* Red background color */
    color: #ffffff; /* White text color */
    padding: 10px 20px; /* Adjust button padding as needed */
    text-decoration: none;
    border-radius: 5px; /* Rounded button corners */
    transition: background-color 0.3s ease;
    text-align: center;
}

    .edit-button:hover,
    .delete-button:hover {
        background-color: #ba0c10; /* Darker red on hover */
    }