body {
    font-family: 'Arial', sans-serif;
    background-color: #fff; /* White background color */
    color: #333; /* Text color */
    margin: 0;
}

.container {
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #e30613; /* ISU Red background color */
    color: #fff; /* White text color */
    padding: 10px;
    text-align: right;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

    .navbar a:hover {
        background-color: #ba0c10; /* Darker red on hover */
    }


button {
    background-color: #e30613; /* ISU Red background color for buttons */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #ba0c10; /* Darker red on hover */
    }

/* Responsive styles */
@media (max-width: 768px) {
    .navbar a {
        width: 100%;
        box-sizing: border-box;
    }

    .navbar-links {
        flex-direction: column;
    }
}

.logout-button {
    background: none; /* Remove default background */
    color: #fff; /* Same color as the links */
    border: none; /* Remove default border */
    padding: 10px; /* Same padding as the links */
    text-decoration: none; /* Same decoration as the links */
    font-family: inherit; /* Same font as the rest of the page */
    font-size: inherit; /* Same size as the rest of the page */
    cursor: pointer; /* Make it look clickable */
    transition: background-color 0.3s ease; /* Same hover effect as the links */
}

    .logout-button:hover {
        background-color: #ba0c10; /* Darker red on hover, same as the links */
    }

    .logout-button:focus {
        outline: none; /* Remove the default focus outline */
    }

@media (max-width: 768px) {
    .logout-button {
        width: 100%;
        box-sizing: border-box;
    }
}

/* The form related CSS has been moved here */
form[asp-controller="Account"][asp-action="Logout"] {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle; /* Add this line to align the form vertically with the other elements */
}
.account-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}