@model IllinoisProject.ViewModels.AccountAddAccountViewModel

<form asp-controller="BlogPost" asp-action="AddBlogPost" method="post">
    <h2>Add a Blog Post</h2>
    <label asp-for="BlogPost.BlogName">Blog Title</label>
    <input asp-for="BlogPost.BlogName" />
    <br />
    <label asp-for="BlogPost.BlogDescription">Description</label>
    <input asp-for="BlogPost.BlogDescription" rows="8" cols="50"></input>
    <br />
    <input type="date" asp-for="BlogPost.PostDate" />
    <br />
    
        <label asp-for="Account.applicationUser">User Name</label>
    <select asp-for="Account.applicationUser" asp-items="@Model.ApplicationUserList"></select>

    <button type="submit">Add the Blog</button>
     
</form>
