@model IllinoisProject.ViewModels.AddBlogPostViewModel
<link rel="stylesheet" href="~/css/NavBar.css" />
<link rel="stylesheet" href="~/css/AddBlog.css" />
<nav class="navbar">
    <div class="navbar-links">
        <div class="navbar-left">
            <!-- Your left-aligned links -->
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="BlogPost" asp-action="MyBlogPost">My Posts</a>
                <a asp-controller="BlogPost" asp-action="AllBlogPost"> All Blogs </a>
                <a asp-controller="BlogPost" asp-action="AllDraft"> Drafts </a>
            }
            else
            {
                <a asp-controller="BlogPost" asp-action="AllBlogPost"> All Blogs </a>
            }
        </div>
        <div class="navbar-right">
            <div class="navbar-right">
                <!-- Only shows account stuff if the user is logged in-->
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="account-actions">
                        <a asp-controller="Account" asp-action="AllAccount">View All Accounts</a>
                        <a asp-controller="Account" asp-action="MyAccount">MyAccount</a>
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <button class="logout-button" type="submit">Logout</button>
                        </form>
                    </div>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login">Login</a>
                    <a asp-controller="Account" asp-action="Register">Register</a>
                }
            </div>
        </div>
    </div>
</nav>

<form asp-controller="BlogPost" asp-action="AddBlogPost" method="post">
    <div asp-validation-summary="All"></div>
    <h2>Add a Blog Post</h2>
    <label asp-for="BlogName">Blog Name</label>
    <input asp-for="BlogName" />
    <span asp-validation-for="BlogName"></span>
    <br />
    <label asp-for="BlogDescription">Description</label>
    <textarea asp-for="BlogDescription" rows="8" cols="50"></textarea>
    <span asp-validation-for="BlogDescription"></span>
    <br />
    
    
    <label asp-for="Draft">Draft or Publish?</label>
    <div class="radio-group">
        <input type="radio" asp-for="Draft" value="true" />
        <label>Draft</label>
        <input type="radio" asp-for="Draft" value="false" />
        <label>Publish</label>
        <span asp-validation-for="Draft"></span>
    </div>

    <br />
    <button type="submit">Add the Blog</button>
</form>
