@model IllinoisProject.ViewModels.AccountBlogPostViewModel
<link rel="stylesheet" href="~/css/site.css" />
<nav class="navbar">
    <div class="navbar-links">
        <div class="navbar-left">
            <a asp-controller="BlogPost" asp-action="AllBlogPost">BlogPosts</a>
            <a asp-controller="BlogPost" asp-action="AllDraft"> Drafts </a>
        </div>
        <div class="navbar-right">
            <a asp-controller="Account" asp-action="AddPicture"> Add Picture to your profile </a>
            <a asp-controller="Account" asp-action="Login">Login</a>
            <a asp-controller="Account" asp-action="Register">Register</a>
            <a asp-controller="Account" asp-action="EditAccount" method="post">
                <input type="hidden" asp-route-id="@User.Identity.Name" />
                <img src="~/images/.png" alt="Profile Icon" class="profile-image">
            </a>
        </div>
    </div>
</nav>

<form asp-controller="BlogPost" asp-action="AddBlogPost" method="post">
    <h2>Add a Blog Post</h2>
    <label asp-for="BlogPost.BlogName">Blog Title</label>
    <input asp-for="BlogPost.BlogName" />
    <br />
    <label asp-for="BlogPost.BlogDescription">Description</label>
    <input asp-for="BlogPost.BlogDescription" rows="8" cols="50" />
    <br />
    <input type="date" asp-for="BlogPost.PostDate" />
    <br />
    <!--
    <label asp-for="Account.UserName">User Name</label>
    <p>@Model.Account.UserName</p>
     -->
    <input type="hidden" asp-for="Account.UserName" />
    <br />
    <div class="toggle-switch">
        <input type="radio" id="draft" name="BlogPost.Draft" value="true" />
        <label for="draft">Draft</label>

        <input type="radio" id="publish" name="BlogPost.Draft" value="false" />
        <label for="publish">Publish</label>
    </div>

    <br />
    <button type="submit">Add the Blog</button>
</form>
