@model IllinoisProject.ViewModels.AccountBlogPostViewModel
<link rel="stylesheet" href="~/css/site.css" />

<form asp-controller="BlogPost" asp-action="AddBlogPost" method="post">
    <h2>Add a Blog Post</h2>
    <label asp-for="BlogPost.BlogName">Blog Title</label>
    <input asp-for="BlogPost.BlogName" />
    <br />
    <label asp-for="BlogPost.BlogDescription">Description</label>
    <input asp-for="BlogPost.BlogDescription" rows="8" cols="50" />
    <br />
    <input type="date" asp-for="BlogPost.PostDate" />
    <br />
    <input type="hidden" asp-for="Account.UserName" />
    <br />
    <div class="toggle-switch">
        <input type="radio" id="draft" name="BlogPost.Draft" value="true" />
        <label for="draft">Draft</label>

        <input type="radio" id="publish" name="BlogPost.Draft" value="false" />
        <label for="publish">Publish</label>
    </div>

    <br />
    <button type="submit">Add the Blog</button>
</form>
