@model IllinoisProject.ViewModels.AccountAddAccountViewModel
<h3>Delete the blog</h3>
<p>Are you sure you want to delete the blog?</p>
<form asp-controller="BlogPost" asp-action="DeleteBlogPost" method="post">
    <label asp-for="BlogPost.BlogName"></label>
    
    <input asp-for="BlogPost.BlogName" readonly="readonly" />
    <br />
    <label asp-for="BlogPost.BlogDescription"></label>
    <input asp-for="BlogPost.BlogDescription" readonly="readonly" />
    <br />
    <button type="submit">Yes, Delete </button>
    <p><a asp-controller="BlogPost" asp-action="AllBlogPost">No, back to the list</a></p>
</form>