@model IllinoisProject.ViewModels.AccountBlogPostViewModel
<link rel="stylesheet" href="~/css/site.css" />
<nav class="navbar">
    <div class="navbar-links">
        <div class="navbar-left">
            <a asp-controller="BlogPost" asp-action="AddBlogPost"> Add a Blog </a>
            <a asp-controller="BlogPost" asp-action="AllBlogPost">BlogPosts</a>
            <a asp-controller="BlogPost" asp-action="AllDraft"> Drafts </a>
        </div>
        <div class="navbar-right">
            <a asp-controller="Account" asp-action="AddPicture"> Add Picture to your profile </a>
            <a asp-controller="Account" asp-action="Login">Login</a>
            <a asp-controller="Account" asp-action="Register">Register</a>
            <a asp-controller="Account" asp-action="EditAccount" method="post">
                <input type="hidden" asp-route-id="@User.Identity.Name" />
                <img src="~/images/.png" alt="Profile Icon" class="profile-image">
            </a>
        </div>
    </div>
</nav>

<h3>Delete the blog</h3>
<p>Are you sure you want to delete the blog?</p>
<form asp-controller="BlogPost" asp-action="DeleteBlogPost" method="post">
    <input asp-for="BlogPost.BlogPostId" />
    <label asp-for="BlogPost.BlogName"></label>
    <input asp-for="BlogPost.BlogName" readonly="readonly" />
    <br />
    <label asp-for="BlogPost.BlogDescription"></label>
    <input asp-for="BlogPost.BlogDescription" readonly="readonly" />
    <br />
    <button type="submit">Yes, Delete</button>
    <p><a asp-controller="BlogPost" asp-action="AllBlogPost">No, back to the list</a></p>
</form>
