@model IllinoisProject.ViewModels.AccountAddAccountViewModel
<h3>Edit the Blog</h3>

<!--Keep all below-->
<form asp-controller="BlogPost" asp-action="EditBlogPost" method="post">
    
    <input type="hidden" asp-for="BlogPost.BlogPostId">
    <label asp-for="BlogPost.BlogName">Blog Name</label>
    <input asp-for="BlogPost.BlogName" />
    <br />
    <label asp-for="BlogPost.BlogDescription">Blog Description</label>
    <input asp-for="BlogPost.BlogDescription" />
    <br />
    <label asp-for="Account.AccountId">Account Name</label>
    <select asp-for="Account.AccountId" asp-items="@Model.AccountList"></select>

    <button type="submit">Update the blog</button>
</form>

