@model IllinoisProject.ViewModels.AccountBlogPostViewModel
<link rel="stylesheet" href="~/css/site.css" />
<!-- Add the profile icon code here -->
<nav class="navbar">
    <div class="navbar-links">
        <div class="navbar-left">
            <a asp-controller="BlogPost" asp-action="MyBlogPost">My Posts</a>
            <a asp-controller="BlogPost" asp-action="AddBlogPost"> Add a Blog </a>
            <a asp-controller="BlogPost" asp-action="AllDraft"> Drafts </a>
        </div>
        <div class="navbar-right">
            <a asp-controller="Account" asp-action="AllAccount">View All Accounts</a>
            <a asp-controller="Account" asp-action="Login">Login</a>
            <a asp-controller="Account" asp-action="Register">Register</a>
            <a asp-controller="Account" asp-action="MyAccount">MyAccount</a>

        </div>
    </div>
</nav>

<h3>Edit the Blog</h3>

<form asp-controller="BlogPost" asp-action="EditBlogPost" method="post">
    <input type="hidden" asp-for="BlogPost.BlogPostId" />
    
    <label asp-for="BlogPost.BlogName">Blog Name</label>
    <input asp-for="BlogPost.BlogName" />
    <br />
    <label asp-for="BlogPost.BlogDescription">Blog Description</label>
    <input asp-for="BlogPost.BlogDescription" />
    <br />
  

    <button type="submit">Update the blog</button>
</form>
<p>
    <a asp-controller="BlogPost" asp-action="AllBlogPost">Back to All Blog Posts</a>
</p>

